<div class="map-container">
	<div *ngFor="let item of forecastList">
		<span class="forecast-map-label"
			  [attr.title]="item.WeatherStatus"
			  [style.top]="item.PositionY"
			  [style.left]="item.PositionX">
			{{ item.City }}
	  </span>
	  <span class="forecast-map-label" 
	  		[style.top]="item.TemperaturePostitionY"
			[style.left]="item.TemperaturePostitionX">
			{{ item.CurrentTemperature }} &#8451;
	  </span>
	</div>
	<div class="ukraine-map-container">
		<svg version="1.1" 
			 xmlns="http://www.w3.org/2000/svg" 
			 xmlns:xlink="http://www.w3.org/1999/xlink"
			 x="0px" 
			 y="0px" 
			 width="960px" 
			 height="650px" 
			 viewBox="0 0 960 650" 
			 enable-background="new 0 0 960 650"
			 xml:space="preserve">
			<g *ngFor="let item of forecastList">
				<path class="map-region"
					  [ngClass]="applyCurrentRegionStyle(item.CurrentTemperature)"
					  [attr.id]=item.Name
					  [attr.d]="item.PathCoordinates" />
			</g>
		</svg>
	</div>
</div>