*{
	margin: 0 auto;
	padding: 0;
}
button{
    width: 50px;
    height: 50px;
    background-color: #eee;
}
.logo{
    display: block;
}

 h1{
    text-align: center;
 	font-family: 'Orbitron';
 	text-transform: uppercase;
 	font-weight: 600;
 	width: 600px;
 	display: block;
 	color: #22c3f2;
 }
 h2{
    text-align: center;
 	font-family: Arial;
 	width: 600px;
 	font-size: 24px;
 	text-transform: uppercase;
 	font-weight: 300;
 	display: block;
 	color: #22c3f2;
 }
 .cards{
 	display: none;
 	background-color: #eee;
 	width: 800px;
 	height: 600px;
 }
.map-container{
	width: 960px;
	height: auto;
	position: relative;
	display: block;
}
.map-label{
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    font-family: Play;
    text-decoration: none;
    cursor: pointer;
	color: #a9a9a9;
}

path{
	fill: #22C3F2;
	stroke: #fff;
}
path:hover{
	fill: #E6C322; 
}
.cards{
    display: none;
  /*map labels*/
}
.map-label{
	text-shadow: 1px 1px #9a9a9a;
	font-weight: 300;
    font-size: 14px;
    font-family: sans-serif;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}
.map-label .marker{
	position: absolute;
    top: -40px;
    left: 20px;
    width: 36px;
    height: 38px;
  }

#map-label-1{
	top: 180px;
    left: 440px;
}
#map-label-2{
	top: 545px;
    left: 625px;
}
#map-label-3{
	top: 190px;
    left: 100px;
}
#map-label-4{
	top: 400px;
    left: 690px;
}
#map-label-5{
	top: 440px;
    left: 600px;
}
#map-label-6{
	top: 400px;
    left: 410px;
}
#map-label-7{
	top: 320px;
    left: 800px;
}
#map-label-8{
    top: 230px;
    left: 850px;
}
#map-label-9{
    top: 310px;
    left: 620px;
}
#map-label-10{
	left: 335px;
    top: 280px;
}
#map-label-11{
    left: 110px;
    top: 270px;
}
#map-label-12{
    left: 580px;
    top: 205px;
}
#map-label-13{
    left: 490px;
    top: 390px;
}
#map-label-14{
    left: 160px;
    top: 90px;
}
#map-label-15{
    left: 45px;
    top: 290px;
}
#map-label-16{
    left: 500px;
    top: 310px;
}
#map-label-17{
    left: 165px;
    top: 225px;
}
#map-label-18{
    left: 725px;
    top: 210px
}
#map-label-19{
    left: 450px;
    top: 260px;
}
#map-label-20{
    left: 490px;
    top: 80px;
}
#map-label-21{
    left: 180px;
    top: 325px;
}
#map-label-22{
    left: 250px;
    top: 100px;
}
#map-label-23{
	left: 240px;
    top: 230px;
}
#map-label-24{
    left: 600px;
    top: 120px;
}
#map-label-25{
    left: 320px;
    top: 140px;
}
/*cards*/
.card-wraper{

    width: 100%;
    height: 620px;
}
.card-wraper img{
    float: left;
    display: inline-block;
}
.card-wraper span{
    display: inline-block;
    text-align: right;
}
.card-wraper .card-info{
    margin: 0px 15px;
    font-size: 21px;
    height: 140px;
    float: left;
    //*border: 1px solid red;*//
}
.info-wraper{
    height: 150px;

}
.info-wraper a{
    margin-bottom: 50px;
    font-family: Arial;
    color: #000;
}