@boilingHotRegionColor: #B30000;
@hotRegionColor: #FF3333;
@warmRegionColor: #FFD11A;
@aboveZeroRegionColor: #FFFF66;
@zeroRegionColor: #BFBFBF;
@belowZeroRegionColor: #99CCFF;
@coldRegionColor: #4DA6FF;
@strongFrostRegionColor: #1A75FF;
@freezingColdRegionColor: #0040FF;
@freezingToDeathRegionColor: #0000E6;

@hoverRegionGreyColor: #CCCCCC;

@whiteColor: #FFFFFF;
@violetColor: #6600FF;

* {
	margin: 0 auto;
	padding: 0;
}

.map-container {
	width: 960px;
	height: auto;
	position: relative;
	display: block;
}

.map-region {
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: @whiteColor;
    fill: @violetColor;

    &.boiling-hot {
        fill: @boilingHotRegionColor;
    }
    
    &.hot {
        fill: @hotRegionColor;
    }
    
    &.warm {
        fill: @warmRegionColor;
    }
    
    &.above-zero {
        fill: @aboveZeroRegionColor;
    }
    
    &.zero {
        fill: @zeroRegionColor;
    }
    
    &.below-zero {
        fill: @belowZeroRegionColor;
    }
    
    &.cold {
        fill: @coldRegionColor;
    }
    
    &.strong-frost {
        fill: @strongFrostRegionColor;
    }
    
    &.freezing-cold {
        fill: @freezingColdRegionColor;
    }
    
    &.freezing-to-death {
        fill: @freezingToDeathRegionColor;
    }
}

.map-region:hover {
    fill: @hoverRegionGreyColor;
}

.forecast-map-label {
    font-weight: 550;
    font-size: 14px;
    font-family: Play sans-serif;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
}

/*
    To make better descriptions, animations and etc.,
    use weather conditions from here:
    https://openweathermap.org/weather-conditions

    Also Included some gifs to assets, but need to figure out the way to
    use them with path tag or cursor

    1) contains clouds -- clouds anim
    2) contains rain -- rain anim
    3) clear sky -- sun animation
    4) mist -- nothing
    5) thunderstorm -- thunderstorm anim
    6) snow -- snow anim
*/